.register-container {
  width: 420px;
  margin: 60px auto;
  padding: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  width: 110px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 25px;
  font-size: 24px;
}

form input {
  width: 100%;
  padding: 13px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
}

.row {
  display: flex;
  gap: 10px;
}

.password-wrapper {
  position: relative;
}

.eye {
  position: absolute;
  right: 15px;
  top: 35%;
  cursor: pointer;
}

.conditions {
  display: flex;
  align-items: center;
  gap: 10px;               
  margin: 10px 0;
  font-size: 14px;
  white-space: nowrap;     
}



button {
  width: 100%;
  padding: 15px;
  background: #0057ff;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.divider span {
  background: white;
  padding: 0 10px;
}

.login-link {
  margin-top: 10px;
}

.login-link a {
  color: #0057ff;
  margin-left: 5px;
}
